In [5]:
import pandas as pd

covid = pd.read_csv("covid_19.csv")

#fill/dropNa not everytime suitable

In [21]:
grp_continent = covid.groupby("continent")

covid_list=[]
for grp,grp_content in grp_continent:
   
    # print(f"Name : {grp}")
    # print(f"Country Count: {grp_content.country.count()}")

    # put it in dictionaries 
    covid_dict = {}
    covid_dict["Continent"] = grp
    covid_dict["Country"] = grp_content.country.count()
    covid_dict["Population"] = grp_content.population.sum()
    covid_dict["Cases"] = grp_content.cases.sum()
    covid_dict["Recovered"] = grp_content.recovered.sum()
    covid_dict["Death"] = grp_content.death.sum()
    covid_dict["Tests"] = grp_content.tests.sum()

    covid_list.append(covid_dict)

covid_df = pd.DataFrame(covid_list)
covid_df

AttributeError: 'DataFrame' object has no attribute 'cases'

In [17]:
# we dont want the row of All
covid_df = covid_df.drop(1)
covid_df

       Continent  Country    Population
0         Africa       59  1.406729e+09
2           Asia       51  4.711357e+09
3         Europe       49  7.475438e+08
4  North-America       40  5.981409e+08
5        Oceania       21  4.347041e+07
6  South-America       15  4.376944e+08

In [18]:
covid_df = covid_df.reset_index(drop=True)
covid_df

       Continent  Country    Population
0         Africa       59  1.406729e+09
1           Asia       51  4.711357e+09
2         Europe       49  7.475438e+08
3  North-America       40  5.981409e+08
4        Oceania       21  4.347041e+07
5  South-America       15  4.376944e+08

In [19]:
covid_df.corr(numeric_only= True)

# when XXX is 1.0 then other is how many mean the more/less, the more/less
# from row to see each col is apa
# There is a positive relationship between population and cases, whereby ...
# There is a significant positive correlation between Case and Test. IN which the higher the number of test administered , the higher yhe number of cases discovered
# but how come the recovered higher, death higher(Dont Write This)

             Country  Population
Country     1.000000    0.530576
Population  0.530576    1.000000